{% extends "base.html" %}

{% block content %}
<table class="address-table">
  <tr class='table-head'>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Error</th>
  </tr>
    {% for address in addresses %}
      {% if address.error != None %}
        <tr class='address-row error'>
          <td>{{ address.name }}</td>
          <td>{{ address.address }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.state }}</td>
          <td>{{ address.zip }}</td>
          <td>{{ address.error }}</td>
          <td><a href="{{ url_for('delete', id=address.id)}}">Delete</a></td>
        </tr>
      {% else %}
        <tr class='address-row'>
          <td>{{ address.name }}</td>
          <td>{{ address.address }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.state }}</td>
          <td>{{ address.zip }}</td>
          <td></td>
          <td><a href="{{ url_for('delete', id=address.id)}}">Delete</a></td>
        </tr>
     {% endif %}
    {% endfor %}
</table>
{% endblock %}
